.containerLogin{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(326deg, rgba(246,249,250,1) 0%, rgba(236,240,243,1) 34%);
}
.cardLogin{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 350px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

img {
  align-self: center;
}
} 

h1{
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.links{
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.text{
  color: #000000;
  text-decoration: none;
}

a {
  margin-left: 2px;
  color: #000000;
}