.containerLogin {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    326deg,
    rgba(246, 249, 250, 1) 0%,
    rgba(236, 240, 243, 1) 34%
  );
}
.containerCardImagem {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}
.imagemLogin {
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cardLogin {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1em;
  max-width: 350px;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;  

  img {
    align-self: center;
    object-fit: contain;
  }
}

h1 {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
}

.containerInputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.links {
  display: flex;
  flex-direction: column;
}

.conectado {
  margin-left: 1em;
  display: flex;
  align-self: flex-start;
  gap: 0.5em;
}

.text {
  color: #000000;
  text-decoration: none;
}

a {
  color: #000000;
}

@media screen and (max-height: 800px) {
  .containerCardImagem {
    height: 32em;
  }

  .cardLogin {
    height: 100%;
    padding: 1em 1em;
    gap: 0.5em;

    h1 {
      font-size: 1.2em;
    }

    img {
      width: 7em;
      height: 7em;
    }
  }
}

@media screen and (max-width: 1310px) {
  .imagemLogin {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .imagemLogin {
    display: none;
  }
}
