.containerLogin{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(326deg, rgba(246,249,250,1) 0%, rgba(236,240,243,1) 34%);
}
.containerCardImg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}
.cardLogin{
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 20px;
  max-width: 350px;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  img {
    align-self: center;
  }
} 

h1{
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
}

.inputs{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.links{
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.conectado{
  margin-left: 1em;
  display: flex;
  align-self: flex-start;
  gap: 0.5em;
}



.text{
  color: #000000;
  text-decoration: none;
}

a {
  margin-left: 2px;
  color: #000000;
}

.imagemLogin{
  height: 100%;
  object-fit: cover;
  
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}