.containerLogin {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: 400px;
  text-align: center;
}

.my-button {
  font-size: 14px;
  border-radius: 5px;
  width: 140px;
}
