.containInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
  width: 100%;
}

.label {
  font-weight: 500;
}

.inputGeral {
  width: 100%;
  height: 2.5em;
  background-color: transparent;
  color: #00000070;
  font-size: 16px;
  border: 1px solid #d6dde2;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
