.containInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
  width: 90%;
}
.label {
  font-weight: 500;
}

.inputGeral {
  height: 2.5em;
  background-color: transparent;
  color: #00000070;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  padding-left: 0.5em;
}

.p-password {
  width: 100%;
  position: relative;
  display: inline-flex;
}
.p-icon {
  right: 0.75rem;
  top: 0.8rem;
}

.p-password-input {
  padding-left: 0.5em;
}
