.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerCoordenador {
  align-items: top;
  line-height: 1.1;
  height: 150px;
  width: 80%;
  background-color: #edf1f4;
  display: flex;
  padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.containerCoordenador {
  align-items: top;
  line-height: 1.1;
  height: 150px;
  width: 80%;
  background-color: #edf1f4;
  display: flex;
  padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.containerCoordenador img {
  width: 7em;
  height: 7em;
  margin-right: 25px;
  mix-blend-mode: multiply; /*Remove o fundo branco da imagem */
}

.listaAlunos {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  padding-top: 1em; /* Adiciona espaço entre o containerAluno e as tarefas*/
}

.containerOrientandosCoordenador {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: start;
  height: 60vh;
  width: 95vh;
  margin-left: 5px;
  max-width: 580px; /*largura máxima */
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  overflow-y: auto;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.infoCoordenador {
  display: flex;
  line-height: 2;
  width: 100%;
}
.infoCoordenador h2 {
  white-space: nowrap;
}

.botoesToolbar {
  margin-top: 0.1em;
}

.botoesToolbar {
  margin-top: 0.1em;
}

ul {
  border-top: -70px;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  cursor: pointer;
  justify-content: flex-start;
}

li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #edf1f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

li div {
  display: grid;
  justify-content: start;
  flex: 1;
}

.confirmationBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.solicitacoesContainer {
  width: 350px;
  margin-top: 50px;
  margin-left: -360px;
}

.bttn {
  height: 25px;
  width: 100px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  color: #000000;
  background-color: #d6dde2;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
}
.bttn:hover {
  background-color: #e9eaec;
}
