.containerEsqueciSenha {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(326deg, rgba(246,249,250,1) 0%, rgba(236,240,243,1) 34%);
}

.containerCard{
  width: 50em;
  height: 32em;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 2em;

 img{
   align-self: center;
 }

 h1{
  width: 100%;
  font-size: 1.2em;
 }

  
}

.containInput{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.marginBottom{
  margin-bottom: .5em;
}


@media screen and (max-width: 850px) {
  .containerCard{
    width: 85%;
    height: 80%;
  }
}

@media screen and (max-width: 600px) {
  .containInput{
    width: 100%;
  }
}