.containerAluno {
  align-items: top;
  line-height: 1.1;
  height: auto;
  width: 100%;
  max-width: 1400px;
  background-color: #edf1f4;
  display: flex;
  padding: 1em 1em;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.containerAluno img {
  width: 7em;
  height: 8em;
  align-self: center;
  margin-left: 1em;
  margin-right: 1.5em;
  mix-blend-mode: multiply; /*Remove o fundo branco da imagem */
}

.infoAluno {
  display: flex;
  align-items: flex-start; /* Ajusta o alinhamento vertical */
  width: 70%;
  flex-wrap: wrap;
}

.boxInfoAluno {
  line-height: 2;
  padding: 0px 10px;
  width: 40%;
  max-width: 40%;
}
.boxInfoAluno h2 {
  white-space: nowrap;
}

.boxInfoAluno span {
  font-weight: 700;
}

.botoesToolbarAluno {
  display: grid;
  flex-direction: column;
  gap: 1em;
  margin-left: 39vh;
  margin-bottom: 5vh;
  align-items: flex-end;
}

.dateInput {
  margin-left: 15px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.bttnSalvar {
  height: 35px;
  width: 100px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  color: #000000;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 600;
  border: none;
}
.bttnSalvar:hover {
  background-color: #eeeeee;
}

.tarefasAluno {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 3em; /* Adiciona espaço entre o containerAluno e as tarefas*/
}

.boxTarefas {
  overflow-y: auto;
  margin-top: -3em;
  border-radius: 5px;
  padding: 15px 5px;
  background-color: #edf1f4;
  height: 50vh;
  width: 87vh;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

#task {
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
}

.chart-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
