.contain {
  flex-direction: column;
  align-items: top;
  display: flex;
  background-color: white;
  line-height: 1.1;
  height: 97vh;
  width: 210vh;
}

.containerAluno {
  width: 100%;
  height: 150px;
  background-color: #DCDCDC;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}

.containerAluno img {
  width: 8em;
  height: 8em;
  align-self: center;
  margin-right: 25px; /* Adiciona uma margem à direita da imagem*/
  mix-blend-mode: multiply; /*Remove o fundo branco */
}
.infoAluno {
  display: flex;
  align-items: flex-start; /* Ajusta o alinhamento vertical */
  width: 70%; 
}

.boxInfoAluno {
  line-height: 0.8;
  padding: 0px 10px; 
  width: 60%; 
}

.boxInfoAluno span {
  font-weight: 700;
}

.botoesToolbar {
  display: flex;
  min-width: 25em;
  margin-top: 2em;
}

.tarefasAluno {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 150px; /* Adiciona espaço entre o containerAluno e as tarefas*/
}

.boxTarefas {
  overflow-y: auto;
  border-radius: 5px;
  background-color: #f0f0f0;
  height: 400px;
  width: 42%;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}

#task {
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
}