.containerAluno {
  width: 100%;
  display: flex;
  max-width: 80em;
  margin-top: 1em;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;

  h3{
    font-size: 1.4em;
  }
}
.containerAluno img {
  width: 6.5em;
  height: 8em;
  align-self: center;
  margin-left: 1em;
  margin-right: 1.5em;
  mix-blend-mode: multiply; /*Remove o fundo branco da imagem */
}

.boxAluno{
  display: flex;
  width: 100%;
  
}
.boxInfoAluno {
  padding: 5px 10px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  height: 12em;
  max-width: 40%;
}
.boxInfoAluno h2 {
  white-space: nowrap;
}

.boxInfoAluno span {
  font-weight: 700;
}

.botoesToolbarAluno {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
  padding-right: 2em;
  align-self: center;
}

.boxDate{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.dateInput {
  padding: 3px;
  width: 120px;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.bttnSalvar {
  height: 30px;
  max-width: 80px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: .9em;
  font-weight: 600;
  border: none;
}



.tarefasAluno {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2em;
  margin: 0 auto;
  padding-top: 3em; /* Adiciona espaço entre o containerAluno e as tarefas*/
}

.titleTarefas {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em
}

.boxTarefas {
  overflow-y: auto;
  margin-top: -3em;
  border-radius: 5px;
  height: 50vh;
  
  width: 87vh;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

#task {
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
}

.chart-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

