.contain{
  display: flex;  flex-direction: column;
  align-items: center;
}

.containerAluno{
  width: 100%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.containerAluno img{
 width: 10em;
 height: 10em;
 align-self: center;
 object-fit: cover;
}

.tarefasAluno{
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.boxTarefas{
  overflow-y: auto;
  border-radius: 1%;
  background-color: white;
  height: 480px;
  width: 40%;
}

.infoAluno{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.boxInfoAluno span{
 font-weight: 700;
}

.botoesToolbar{
  display: flex;
  min-width: 25em;
  margin-top: 2em;
}

#task{
  width: 90%;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}
