:root {
  font-family:system-ui,Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(42, 41, 41, 0.87);
  color-scheme: light dark;
  background-color: #9bbe62;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: white;
  border-radius: 10px;
}
