.containerGeralTarefas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;

  height: 100%;
  width: 90%;

}
.containerLista {
  display: flex;
  justify-content: start;
  height: 80vh;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  overflow-y: auto;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.listaTarefas {
  display: flex;
  justify-content: space-around;
  gap: 3em;
  width: 100%;
}

.botoesTarefas {
  align-self: flex-end;
  gap: 1em;
}

.litarefas {
  margin-bottom: 0.2em;
  cursor: default;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.labeltarefas {
  align-items: center;
  justify-content: start;
}

.container-lista li div:last-child {
  display: flex;
  align-items: center;
}

.bttn {
  height: 25px;
  width: 100px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  color: #000000;
  background-color: #d6dde2;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
}

.modalTarefas {
  position: fixed;
  width: 50%;
}
.cardBackground {
  display: flex;
  place-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.inputContain{
  display: flex;
  width: 100%;
  gap: 2em;
}

.inputContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputContainer input[type="text"],
.inputContainer input[type="number"],
.inputContainer textarea,
.inputContainer select {
  width: 100%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputContainer textarea {
  height: 80px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  place-items: center;
}
