.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.containerLista {
  height: 240px;
  width: 160%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  overflow-y: auto;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.infoOrientador {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.botoesTarefas {
  display: flex;
  align-items: end;
  position: fixed;
  cursor: pointer;
}

.container-lista {
  height: 240px;
  width: 160%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.confirmationBox {
  display: flex;
  justify-content: center;
  background-color: "#fff";
}

label {
  align-items: center;
  justify-content: start;
}

.modal {
  padding: 10px 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.infoOrientador {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.botoesTarefas button {
  top: 20px;
  border-radius: 5px;
  position: fixed;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  cursor: default;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmation-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: "#fff";
}

.modal {
  padding: 10px 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.container-lista li div:last-child {
  display: flex;
  align-items: center;
}
