.contain{
    display: flex;  flex-direction: column;
    align-items: center; margin-top: 10px;
  }

  .listaTarefas {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 1em; /* Adiciona espaço entre o containerAluno e as tarefas*/
  }
  
  .containerLista {
    display: flex;
    flex-wrap: wrap-reverse  ;
    justify-content: start;
    height: 80vh; 
    width: 95vh; 
    margin-left: 5px;
    max-width: 580px; /*largura máxima */
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    overflow-y: auto;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .botoesTarefas{
    display: flex;
    align-items: end;
    position: fixed;
    cursor: pointer;
    margin-top: 40px;
  }

  .ultarefas{
    list-style-type: none;
    padding-left:0;
  }
  
  .litarefas{
    margin-bottom: 10px; 
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .confirmationBox{
        display: flex;
        justify-content: center;
        background-color: '#fff';
  }
  
  .labeltarefas{
    align-items: center;
    justify-content: start;
  }
 
  .modalTarefas{
    padding: 10px 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }

  .container-lista li div:last-child {
    display: flex;
    align-items: center;
  }
  