
.containerPrincipalCad {
  width: 70vw;
  min-width: 40em;
  max-width: 60em;
  display: flex;
  padding-bottom: 2em;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; 
  gap: .5em;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1{
    font-size: 1.8em;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
}

@media (max-height: 633px) {
  .containerPrincipalCad {

    height: 100vh;
  }
  .logoPgcop {
    display: none;
  }
}


.containInputs{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  gap: 1.5em;
}

.fisrtColumn{
  display: flex;
  flex-direction: column;
  width: 100%;
}

 .css-78trlr-MuiButtonBase-root-MuiIconButton-root,   .css-1laqsz7-MuiInputAdornment-root {
  border-radius: 0%;
  max-width: 2.3em;
}

.bttnCadastro {
  background-color: rgba(42, 41, 41, 0.77);
  width: 9em;
  height: 2.5em;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
}
.bttnCadastro:active {
  transform: scale(1.04);
}

.containerButtons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
