
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(326deg, rgba(246,249,250,1) 0%, rgba(236,240,243,1) 34%);
}

.containerPrincipal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70em;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; 
  border-radius: 10px; 
}

.backgroundContainer{
  background-color: #515d75; 
}


.inputContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  margin-bottom: 10px;
}
.inputData {
  align-items: center; 
  width: 10em;
  background-color: #ffffff; 
}

.inputData select {
  width: 9.5vh;
}

.inputRow {
  display: flex;
  flex-direction: column; 
  align-items: start;
  margin-bottom: 5px;
}

.inputRow > * {
  margin-bottom: 2px; /* espaçamento entre o label e input */
  margin-right: 20px; /* margem direita */
}


.inputRow:last-child > * {
  margin-right: 0;
}

.inputRow label {
  width: auto;
}

.inputCadastro, .inputSenha {
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.inputSenha{
  width: 250px;
}

.selectCadastro {
  padding: 8px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


.bttn {
  color: #000000;
  background-color: #D6DDE2;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 2.5em;
}

/* styles.css */
.containerPrincipal {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Ajuste conforme necessário */
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 1px; /* Ajuste conforme necessário */
}

.radioGroup {
  margin-bottom: 16px; /* Ajuste conforme necessário */
}
/*.contain {
  background: linear-gradient(326deg, rgba(246,249,250,1) 0%, rgba(236,240,243,1) 34%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerPrincipal {
  min-width: 40em;
  max-width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px; 
  align-items: center;
  gap: .5em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1{
    font-size: 2em;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding: .2em;
  }
}

.inputContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  margin-bottom: 10px;
}
.inputData {
  align-items: center; 
  width: 10em;
  background-color: #ffffff; 
}

.inputData select {
  width: 9.5vh;
}

.inputRow {
  display: flex;
  flex-direction: column; 
  align-items: start;
  margin-bottom: 5px;
}

.inputRow > * {
  margin-bottom: 2px; 
  margin-right: 20px;


.inputRow:last-child > * {
  margin-right: 0;
}

.inputRow label {
  width: auto;
}

.inputCadastro, .inputSenha {
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.inputSenha{
  width: 250px;
}

.selectCadastro {
  padding: 8px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


.bttn {
  color: #000000;
  background-color: #D6DDE2;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 2.5em;
}

.buttonCadastro{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2em;
  width: 100%;
}

.field {
  margin-bottom: 1px; 
}

.radioGroup {
  align-self:center
}*/