.containerData{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.containSelects {
  display: flex;
  flex-direction: row;
}

.containerData p {
  margin: 0;
  color: rgb(141, 133, 133);
  font-weight: 500;
  font-size: 14px;
}

.selectCadastro {
  width: 120px;
  padding: 6px;
  background-color: transparent;
  border-radius: 5px;
  color: #525151;
  font-size: 13px;
  border-bottom: 1px solid #00000070;
  margin-right: 10px;
}
