.solicitacoes-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  width: 28em;
  margin-top: -7em;
  position: relative;
  z-index: 1000;
}

.solicitacoes-container li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.solicitacoes-container li div {
  display: grid;
  justify-content: end;
  flex: 1;
}

.solicitacoes-container li button {
  height: 25px;
  width: 100px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  color: #000000;
  background-color: #d6dde2;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
}

.solicitacoes-container li button:hover {
  background-color: #e9eaec;
}
